:root {
    --vermelho: #e50914;
    --preta: #141414;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
}
body {
    background-color: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .title-netflix {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: var(--vermelho);
    font-weight: bold;
    letter-spacing: 2px;
}

header .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

header nav a {
    margin-left: 10px;
    color: rgb(199, 199, 199);
    font-size: 16px;
}

header nav a:hover {
    color: white;
}

.conteudo {
    font-size: 50px;
}

.conteudo-pricipal {
    font-size: 16px;
    background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5) 100%), url("../img/capa-pricipal.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.conteudo-pricipal .buttons {
    margin-top: 40px;
}